<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js" ></script>
        <script src="assets/js/jquery.combobox.js" ></script> 
        <script src="assets/js/main.js" ></script> 
    </head>
    
    <body ng-app="myApp" class="container">
        <h1>AngularJS + jQuery</h1>
        <section ng-controller="mainCtrl">
            <div class="combobox" id='combobox-1'></div>
            <!--<div jq-combobox size="10" class="combobox">
                <option value="101">val 101</option>
                <option value="102">val 102</option>
                <option value="145">val 145</option>
                <option value="146">val 146</option>
                <option value="147">val 147</option>
                <option value="148">val 148</option>
                <button ng-click="getValue($event)" class="btn">get value</button>
                <button ng-click="setValue($event, index)" class="btn">set value</button>
                <input type="number" ng-model="index" min="0" max="5"/>
            </div>--> 
            
            <div class="combobox" id='combobox-2'></div>
        </section>
    </body>
    <script>
        $('#combobox-1').combobox({options: [1,2,3,4,5,6,7,8], value: 5, onValueChanged: function(oldVal, newVal){console.log('changed #combobox-1')}});
        $('#combobox-2').combobox({options: [111,2,13,14,15,16,71,18], value: 15, onValueChanged: function(oldVal, newVal){console.log('changed #combobox-2')}});
    </script> 
    <!--<script type="text/ng-template" id="inputTemplate">
        <div>
            <input type="text" ng-model="$ctrl.inputValue">
            <button class="btn" ng-click="$ctrl.addValue()">Click me</button>
        </div>
    </script>
    
    <script type="text/ng-template" id="outputTemplate">
        <div>
            <h2>Results:</h2>
            <ul>
                <li ng-repeat="value in $ctrl.values track by $index">{{value}}</li>
            </ul>
        </div>
    </script>--> 
</html>